
<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand pe-3 fs-4">Monitoring portali informacyjnych</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <a class="btn btn-light border-dark me-2 nav-item" href="/clients">Klienci</a>
          <a class="btn btn-light border-dark me-2 nav-item" href="/scraper">Pająki sieciowe</a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-4 p-3 border bg-white rounded-3">
    <router-outlet></router-outlet>
  </div>
</div>
