<div>
  <!-- TITLE -->
  <div class="app-title-section">
    <h1>Klienci</h1>
  </div>

  <!-- INPUT -->
  <div class="app-section">
    <form class="row g-3" (ngSubmit)="onSubmit()" #clientForm="ngForm">
      <div class="col-auto">
        <label for="name" class="form-control-plaintext">Dodaj nowego klienta:</label>
      </div>
      <div class="col-auto">
        <input type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="newClientName"
          name="name"
          #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
          Nazwa klienta jest wymagana
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn btn-light border-dark mb-3" [disabled]="!clientForm.form.valid">Prześlij</button>
      </div>
    </form>
  </div>

  <!-- TABLE -->
  <div class="app-table-section">
    <table class="table table-striped align-middle">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nazwa klienta</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let client of clients">
          <tr>
            <th scope="row">{{client.id}}</th>
            <td>{{client.name}}</td>
            <td><button (click)="navigateToSearchTerms(client)" class="btn btn-light btn-sm border-dark">Wyszukiwane frazy</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>
</div>
