<div>
  <!-- TITLE -->
  <div class="app-title-section">
    <h1>Znalezione frazy</h1>
  </div>

  <!-- TOGGLE -->
  <div class="app-title-section">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="showScores">
      <label class="form-check-label" for="flexSwitchCheckDefault">Pokaż oceny częściowe</label>
    </div>
  </div>

  <!-- TABLE -->
  <div class="app-table-section">
    <table class="table table-striped align-middle">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Znaleziona fraza</th>
          <ng-container *ngIf="showScores">
            <th scope="col">Ocena pozytywna</th>
            <th scope="col">Ocena neutralna</th>
            <th scope="col">Ocena negatywna</th>
          </ng-container>
          <th scope="col">Ocena sumaryczna</th>
          <th scope="col">Link artytułu</th>
          <th scope="col" style="min-width: 6rem;">Data publikacji</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sentiment of sentiments">
          <tr>
            <th scope="row">{{sentiment.id}}</th>
            <td>{{sentiment.sentence}}</td>
            <ng-container *ngIf="showScores">
              <td>{{sentiment.positive_score}}</td>
              <td>{{sentiment.neutral_score}}</td>
              <td>{{sentiment.negative_score}}</td>
            </ng-container>
            <td>{{id2label[sentiment.overall_sentiment]}}</td>
            <td><a [href]="sentiment.article.url">{{sentiment.article.url}}</a></td>
            <td>{{sentiment.article.published_at | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>