<h1>Klienci</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Wyszukiwana fraza</th>
      <th scope="col">Data ostatnio znalezionego artykułu</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let searchTerm of searchTerms">
      <tr>
        <th scope="row">{{searchTerm.id}}</th>
        <td>{{searchTerm.search_term}}</td>
        <td>{{searchTerm.updated_sentiments_at}}</td>
        <td><button (click)="navigateToSentiments(searchTerm)">Pokaż znalezione frazy</button></td>
        <td>
          <button (click)="updateSentiments(searchTerm)" [ngStyle]="{'width': '150px'}">
            <div *ngIf="searchTermsSpinners[searchTerm.search_term]">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
            <div *ngIf="!searchTermsSpinners[searchTerm.search_term]">
              Wyszukaj nowe frazy
            </div>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<h1>Dodanie nowej frazy</h1>
<form (ngSubmit)="onSubmit()" #searchTermForm="ngForm">
  <div class="form-group">
    <label for="name">Nazwa klienta</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="newSearchTerm" name="name"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Nazwa klienta jest wymagana
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!searchTermForm.form.valid">Submit</button>
</form>
<!-- <pre>{{ searchTerms | json }}</pre> -->